# Application environment
NODE_ENV=development

# Logging level: trace, debug, info, warn, error
LOG_LEVEL=info

# Application/service name
SERVICE_NAME=ZapoX

# Owner identifier
OWNER=

# Enable self-message handling
SELF=false

# WhatsApp bot phone number
# Use international format without + or leading zero
BOT_NUMBER=

# Session identifier
SESSION_ID=

# WhatsApp pairing code 8 digits
PAIRING_CODE=

# SQLite database path
# Relative to the config.js file
PATH_STORE=./src/data/state.sqlite